
@{
    ViewData["Title"] = "Espera";
}

<h1>Pacientes en espera</h1>

@using (Html.BeginForm("Espera", "Hospital", FormMethod.Post))
{

    <br />
    <div style="text-align: center">
        <button type="submit" value="Hospital1" name="Option" style="width:300px;height:30px">Alta Verapaz</button>
    </div>
    <br />
    <div style="text-align: center">
        <button type="submit" value="Hospital2" name="Option" style="width:300px;height:30px">Guatemala</button>
    </div>
    <br />
    <div style="text-align: center">
        <button type="submit" value="Hospital3" name="Option" style="width:300px;height:30px">Totonicapán</button>
    </div>

}

<h1>Buscar paciente en lista de espera</h1>
<hr />

@using (Html.BeginForm("Busqueda", "Hospital", FormMethod.Post))
{
    <div class="row">
        <input type="text" class="form-control" name="search" value="" placeholder="Buscar..." />
        <select id="Select1" name="select">
            <option>DPI</option>
            <option>Nombre</option>
            <option>Apellido</option>
        </select>
        <button type="submit"  class="btn btn-primary">Buscar</button>
    </div>}
@TempData["Error"]
<hr />