@{ ViewBag.Title = "Index"; }

@* Changes Layout for Index view, hides the Menu button at the top *@
@{ Layout = "_Layout"; }

&nbsp;
<br />

<h2 style="text-align: center">Atención en Hospital - Caso <strong><em>COVID-19</em></strong></h2>

<br />


@using (Html.BeginForm("Index", "Hospital", FormMethod.Post))
{

    <br />
    <div style="text-align: center">
        <button type="submit" value="Registro" name="Option" style="width:300px;height:30px">Añadir Paciente</button>
    </div>
    <br />
    <div style="text-align: center">
        <button type="submit" value="Espera" name="Option" style="width:300px;height:30px">Lista de espera por hospital</button>
    </div>
    <br />
    <div style="text-align: center">
        <button type="submit" value="Simulacion" name="Option" style="width:300px;height:30px">Iniciar simulación</button>
    </div>
    <br />
    <div style="text-align: center">
        <button type="submit" value="Vacunados" name="Option" style="width:300px;height:30px">Vacunados</button>
    </div>
    <br />
    <div style="text-align: center">
        <button type="submit" value="Porcentaje" name="Option" style="width:300px;height:30px">Porcentaje de vacunados</button>
    </div>
    <br />
}