@model Proyecto_ED1.Models.PatientModel

@{
    ViewData["Title"] = "Registro";
}

<h1>Registro</h1>

<h4>PatientModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Registro">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DPI" class="control-label"></label>
                <input asp-for="DPI" class="form-control" />
                <span asp-validation-for="DPI" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Department, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <select class="form-control" id="Department" name="Department">
                        <option>Seleccionar Departamento</option>

                        <option>Alta Verapaz</option>
                        <option>Baja Verapaz</option>
                        <option>Chiquimula</option>
                        <option>Petén</option>
                        <option>El Progreso</option>
                        <option>Quiché</option>
                        <option>Escuintla</option>
                        <option>Guatemala</option>
                        <option>Huehuetenango</option>
                        <option>Izabal</option>
                        <option>Jalapa</option>
                        <option>Jutiapa</option>
                        <option>Quetzaltenango</option>
                        <option>Retalhuleu</option>
                        <option>Sacatepéquez</option>
                        <option>San Marcos</option>
                        <option>Santa Rosa</option>
                        <option>Sololá</option>
                        <option>Suchitepequez</option>
                        <option>Totonicapán</option>
                        <option>Zacapa</option>
                    </select>
                </div>
                @Html.ValidationMessageFor(model => model.Department, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                <label asp-for="Municipality" class="control-label"></label>
                <input asp-for="Municipality" class="form-control" />
                <span asp-validation-for="Municipality" class="text-danger"></span>
            </div>

          

            <div class="form-group">
                <label asp-for="Age" class="control-label"></label>
                <input asp-for="Age" class="form-control" />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

